<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="workout_form">
        <%= render 'shared/workout_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>My Workouts</h3>
      <%= render 'shared/workout_feed' %>
    </div>
  </div>
<% else %>
	<%provide(:title, "Find Workout") %>

	<h1>About</h1>
	<p>
	  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
	  Tutorial</em></a> is a
	  <a href="http://www.railstutorial.org/book">book</a> and
	  <a href="http://screencasts.railstutorial.org/">screencast series</a>
	  to teach web development with
	  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
	  This is the sample application for the tutorial.
	</p>
<% end %>
