<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="workout_form">
        <%= render 'shared/workout_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>My Workouts</h3>
      <%= render 'shared/workout_feed' %>
    </div>
  </div>
<% else %>
	<div class="center jumbotron">

		<h1>Welcome to FriendFit!</h1>	

		<h2>
			Find a friend and get in shape.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

	</div>

<% end %>