<li id="workout-<%= workout.id %>">
  <%= link_to gravatar_for(workout.user, size: 50), workout.user %>
  <span class="user"><%= link_to workout.user.name, workout.user %></span>
  
  <div class="activity">
    <%= workout.activity %> @ <%= workout.location %>
  </div>

  <div class="activity-time">
    <%= workout.activity_time %> 
  </div>
  <% if current_user?(workout.user) %>
      <%= link_to "delete", workout, method: :delete,
                                       data: { confirm: "You sure?" } %>
  <% else %>
      </br>
  <% end %>
</li>
