<%= form_for(@workout) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :activity, placeholder: "Compose new workout..." %>
  </div>

  <%= f.label :location %>
  <%= f.text_field :location, class: 'form-control' %> 

	<%= f.label :activity_time %>
  <%= f.datetime_local_field :activity_time, class: 'form-control' %>
  
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>